@font-face {
  font-family: 'Roboto Condensed';
  src: local('Roboto Condensed'), url('./RobotoCondensed-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: local('Roboto Condensed'), url('./RobotoCondensed-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  cursor: default;
  box-sizing: content-box;
}

:root {
  color-scheme: dark;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  font-family: 'Roboto Condensed', -apple-system-short-body, sans-serif;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(162deg, #2f3136 10%, #0d1014 100%);
  color: white;
}

body:not(.platform-mac, .platform-ios) :is(.platform-mac, .platform-ios) {
  display: none;
}

main {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-height: 660px;
  max-width: 375px;
  height: 100%;
}

h1,
h2,
p,
ol {
  margin: 0;
}

img.logo {
  max-width: 274px;
  align-self: center;
}

h1 {
  font-size: 18px;
  font-weight: 400;
  color: white;
  margin-top: -20px;
}

h2 {
  font-size: 22px;
  font-weight: 400;
  color: white;
  max-width: 200px;
  margin: 0px auto;
}

h2 .small {
  font-size: 16px;
  font-weight: 400;
  color: #aaa;
}

p.secondary {
  color: rgba(255, 255, 255, 0.7);
}

p.footer {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Roboto Condensed';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
}

p.footer a {
  color: inherit;
  cursor: pointer;
}

ol {
  text-align: left;
  margin-top: -8px;
}

li {
  margin: 0 0 16px;
}

li > div {
  display: grid;
  grid: auto / 1fr 120px;
  align-items: center;
  justify-items: center;
  gap: 32px;
}

li div > span {
  flex: 1;
  max-width: 150px;
}

li img {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  overflow: hidden;
}

button,
.button {
  display: block;
  padding: 8px 16px;
  border: none;
  border-radius: 50px;
  background-color: #00aef0;
  color: white;
  font-family: inherit;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

button.outline {
  background: transparent url('./ArrowRight.svg') no-repeat right center;
  color: #00aef0;
  font-size: 18px;
  padding: 2px 30px 2px 0px;
}

section {
  padding: 16px 0;
  display: flex;
  flex-flow: column;
  gap: 30px;
}

section.footer {
  gap: 8px;
  align-items: center;
  padding-bottom: 24px;
}

#enjoying-ghostery {
  background: url('./GlowingArch.svg') no-repeat top center;
  padding-top: 56px;
}

#ios-settings-path {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: none;
  font-weight: 300;
}

#ios-settings-path div {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
}

#ios-settings-path div img {
  padding: 0 8px;
}

#protected {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
}
